<footer style="
    width: 100%;
    padding: 14px 0;
    margin-top: 26px;
    text-align: center;
    font-size: 13px;
    color: #666;
    line-height: 1.4;
">
  <div>Psychstatus • модульный шаблон</div>
  <div>Разработчик: Убейконь Дмитрий</div>

  <div style="margin-top: 6px;">
    <a href="https://t.me/Dmitrii_Ubeikon" target="_blank"
       style="color: inherit; text-decoration: none; display: inline-flex; align-items: center; gap: 4px;">
      <svg width="16" height="16" viewBox="0 0 24 24" fill="#0088cc" xmlns="http://www.w3.org/2000/svg">
        <path d="M9.99995 15.1999L9.89995 19.2999C10.2999 19.2999 10.4999 19.0999 10.6999 18.8999L12.6999 16.9999L16.6999 20.0999C17.3999 20.4999 17.8999 20.2999 18.0999 19.3999L21.8999 2.89993C22.1999 1.79993 21.4999 1.29993 20.7999 1.59993L2.99995 8.49993C1.89995 8.89993 1.89995 9.49993 2.79995 9.79993L7.39995 11.1999L17.6999 5.19993C18.1999 4.89993 18.6999 5.09993 18.2999 5.39993L9.99995 15.1999Z"/>
      </svg>
      @Dmitrii_Ubeikon
    </a>
  </div>

  <div style="margin-top: 10px; font-size: 9px; color: #888; max-width: 750px; margin-left:auto; margin-right:auto;">
    Использование модуля означает согласие с условиями.
    Материалы предоставлены «как есть».
    Разработчик не несёт ответственности за последствия использования.
    Не является медицинской услугой или заменой очной консультации специалиста.
    Лицензия: свободное некоммерческое использование с указанием автора.
  </div>
</footer>
